{% extends 'youtube/base.html' %}

{% block title %}FAMPAY{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <h1 style="margin-top:10px;alignment: center">YOUTUBE API</h1>


    <form method="GET" action="." class="filter-form">
            <div id="div_id_category" class="form-group">
                <label for="id_category" class="">Category</label>
                <div class="">
                    <select name="category" class="select form-control" id="id_category">
                        <option value="" selected="">---------</option>
                        {% for cat in categories %}
                            <option value="{{ cat.id }}">{{ cat.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
                    <div id="div_id_name" class="form-group">
                <label for="id_name" class=""></label>
                    <div class="">
                        <input type="text" name="name" maxlength="200" class="textinput textInput form-control" id="id_name" placeholder="search query">
                    </div>
                    </div>
                        <div class="form-check">
                          <input class="form-check-input" name="checkbox" type="checkbox" value="on" id="flexCheckChecked" {{ checkbox }}>
                          <label class="form-check-label" for="flexCheckChecked">
                            Order by publish date
                          </label>
                        </div>
                    <br>
                    <button class="btn btn-info btn-block btn-sm" type="submit">
                      Filter
                    </button>
        </form>
        {% for q in  which_query %}
            <div class="col-sm-1" style=" margin-top: 10px;margin-left: 10px">
                <h4>{{ q }}</h4>
            </div>
        {% endfor %}
        <div class="row">

            {% for object in page_obj.object_list %}
                    <div class="col-sm-3" style=" margin-top: 10px;margin-left: 10px">
                        <div class="card" style="width: 18rem;">
                          <img src="{{ object.thumbnail_url }}" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">{{ object.name }}</h5>
                            <p class="card-text">{{ object.description|truncatewords:5 }}</p>
                            <a href="{{ object.get_absolute_url }}" class="btn btn-primary">GO</a>
                          </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
        <center>
        <br>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                  {%if page_obj.has_previous %}
                    <li class="page-item">
                            <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                  {% endif %}
                    <li class="page-item"><a class="page-link" href="#"><span>{{page_obj.number}}</span></a></li>
                  {%if page_obj.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  {% endif %}
              </ul>
            </nav>
        </center>
    </div>
{% endblock %}


{% comment %}
 <form method="GET" action="." class="filter-form">
                    {{filterForm|crispy}}
                    <div class="form-check">
                      <input class="form-check-input" name="checkbox" type="checkbox" value="on" id="flexCheckChecked" {{ checkbox }}>
                      <label class="form-check-label" for="flexCheckChecked">
                        Order by publish date
                      </label>
                    </div>
                    <br>
                    <button class="btn btn-info btn-block btn-sm" type="submit">
                      Filter
                    </button>
        </form>
{% endcomment %}