{% extends 'youtube/base.html' %}

{% block title %}FAMPAY{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
    <h1 style="margin-top:10px;alignment: center">YOUTUBE API</h1>
        <form method="GET" action="." class="filter-form">
                    {{filterForm|crispy}}
                <button class="btn btn-info btn-block btn-sm" type="submit">
                  Filter
                </button>
        </form>
        <div class="row">
            {% for object in objects %}
                    <div class="col-sm-3" style=" margin-top: 10px;margin-left: 10px">
                        <div class="card" style="width: 18rem;">
                          <img src="{{ object.thumbnail_url }}" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">{{ object.name }}</h5>
                            <p class="card-text">{{ object.description|truncatewords:5 }}</p>
                            <a href="{{ object.get_absolute_url }}" class="btn btn-primary">GO</a>
                          </div>
                        </div>
                    </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}